.flex {
  display: flex
}

.h-64 {
  height: 16rem
}

.w-full {
  width: 100%
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity))
}

.p-5 {
  padding: 1.25rem
}

.px-10 {
  padding-left: 2.5rem;
  padding-right: 2.5rem
}

.pb-5 {
  padding-bottom: 1.25rem
}

.pt-5 {
  padding-top: 1.25rem
}

.text-blue-600 {
  --tw-text-opacity: 1;
  color: rgb(37 99 235 / var(--tw-text-opacity))
}
